header{
    font-size: 2.5rem;
    padding: .5rem;
    background-color: rebeccapurple;
    color: azure;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}

header:hover{
    text-overflow: clip;
    white-space: normal;
    overflow: visible;
}